@import url("colors-waybar.css");

* {
    border: none;
    border-radius: 10;
    font-family: "JetBrains Mono";
    font-weight: 500;
    font-size: 14px;
    padding: 0;
    color: @foreground; /* White text from pywal */
}

window#waybar {
    background: @background; /* Wallpaper-based background */
}

tooltip {
    background: @background;
    border: 1px solid @color8;
}

#workspaces {
    margin: 4px;
}

#workspaces button {
    all: initial;
    padding: 4px 6px;
    color: @foreground;
}

#workspaces button.focused {
    color: @color4; /* Dynamic accent color */
}

#workspaces button.urgent {
    color: @color1;
}

#clock {
    margin: 0;
    font-size: 16px;
}

#cpu,
#tray,
#battery,
#network,
#pulseaudio {
    margin: 4px;
    padding: 2px 6px;
}
